.git
.github
.env
.env.local
vendor/
node_modules/
frontend/
lozybyte.sql
docker-compose.yml
DEPLOYMENT.md
README.md
tests/
phpunit.xml
.editorconfig
.gitattributes
.gitignore
.npmrc
storage/logs/*.log
storage/framework/sessions/*
storage/framework/views/*.php
storage/framework/cache/data/*
